<h1>Eat-Da-Burger!</h1>
<h2>Burgers that are not devoured!</h2>
<ol>
  {{#each burgers}}
  {{/each}}
</ol>
<h2>Devour a burger!</h2>
  {{#each burgers}}
  {{/each}}

<textarea rows="10" cols="10"></textarea>
<button type = "submit">Submit</button>
<p>Enter a burger you want to eat and click the "submit" button.</p>